---
interface Props {
	title: string;
	description?: string;
	author?: string;
}

let { title, description, author } = Astro.props;

if (!description) description = "Personal blog of Scott J. Odle";
if (!author) author = "Scott Odle";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="site_name" content="scoott.blog" />
		<meta name="description" content={description} />
		<meta name="og:title" content={title} />
		<meta name="og:description" content={description} />
		<meta name="og:image" content="/headline.png" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="author" content={author} />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<title>{title}</title>
	</head>
	<body>
		<main>
			<slot />
		</main>
		<footer>
			<p>
				Powered by
				<a href="https://astro.build/" target="_blank">Astro</a>
			</p>
			<p>
				<a href="https://github.com/sodle/scoott.blog" target="_blank"
					>View Source</a
				>
			</p>
			<p>
				<a href="https://github.com/sodle" target="_blank">GitHub</a>
			</p>
		</footer>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}

	html {
		background: #13151a;
	}

	main {
		color: white;
	}

	html {
		font-family: system-ui, sans-serif;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	main {
		margin: auto;
		padding: 1rem;
		width: 1920px;
		max-width: calc(100% - 2rem);
		font-size: 20px;
		line-height: 1.6;
	}

	a[href] {
		color: inherit;
	}

	footer {
		margin: auto;
		width: 1000px;
		max-width: calc(100% - 2rem);
		color: rgb(var(--accent-light));
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
</style>
